#customers {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
}

#customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #2c82f8;
    color: white;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 5px solid #ddd;
    padding: 5px;
	}

.profile-photo {
    width: 200px;
    height: 200px;
    border: #fff solid 3px;
    background-size: cover !important;
    border-radius: 3px;
}


.profile-photo {float:left;   width: 100px;margin-top: 30px;
    height: 100px;
}

.profile-pic {
	background: #ccc;
    /*border: #ddd solid 1px;*/
    padding: 20px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
    margin-top: -10px;
    margin-bottom: -10px;
    background-size: 100% 100% !important;
}

.topbtn {
      padding: 9px 18px 14px 19px;
    position: fixed;
    background: #fff;
    right: 15px;
    color: black;
    bottom: 18px;
    border-radius: 61px;
    box-shadow: 0px 0px 36px 0px rgba(0, 0, 0, 0.11);
    z-index: 1000;
}
.topbtn i {
    font-size: 35px;
}