{% extends 'templates/default.twig' %}

{% block title %}Not Allowed{% endblock %}

{% block content %}
<div class="col-lg-6 offset-lg-3">
    <div style="text-align: center;">
        <img src="\assets\images\error\405.png" alt="Method not allowed" style="max-height: 300px;">
    </div>
    <br><br><br>
    <div class="card">
      <div class="card-header">
        Not Allowed
      </div>
      <div class="card-block" >
            <p class="italic">It seems that you had tried to do something, which is not allowed with your level clearance. We apologize that you had faced this experience.</p>
            <p class="italic">If you think it is an anomaly, please <a href="{{ path_for('contact')}}">report us</a>. <br>Thank you for your valuable cooperation.</p>
      </div>
    </div>
</div>
{% endblock %}