                    <div   style="background: white; height: 50px; border: 1px solid #CCC;">
                              
                            <!-- Contacts -->
                            <!-- Contact -->
                            <div class="row row-eq-height" style="padding-top: 5px;padding-bottom: 5px;">
                            
                                <div class="col-12" >
                                    <div class="row row-eq-height">
                                        <div class="col-12 " style="text-align: left;">
                                            <!-- Details -->
                                            <p style="font-size: 140%; font-weight: 700; margin-bottom: 5px; text-align: center; " >{{ message }}</p>
                                        </div>
                                        
                                    </div>                            
                                </div>
                            </div>
                        </div>