 <div class="row msg_container base_receive">
                        <div class="col-12">
                            <div class="row">
                                
                                <div class="col-10">
                                    <div class="messages msg_sent">
                                        <p class="">that mongodb thing looks good, huh? tiny master db, and huge document
                                            store</p>
                                        <time datetime="2009-11-13T20:00" class="">Timothy • 51 min</time>
                                    </div>
                                </div>
                                <div class="col-2 avatar">
                                    <img src="http://www.bitrebels.com/wp-content/uploads/2011/02/Original-Facebook-Geek-Profile-Avatar-1.jpg" style="max-width:50px; max-height: 50px;"  class="img-responsive">
                                </div>
                            </div>
                        </div> 
                    </div>